body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
}

.task-input{
    display: flex;
    justify-content: space-between;
}

#new-task{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#add-task-button{
border: none;
border-radius: 10px;
padding: 10px 20px;
color: #fff;
background-color: #15be78;
cursor: pointer;
}

#add-task-button:hover{
    background-color: #1b9662;
}

.tasks-list ul{
    list-style: none;
    padding: 0;
}

.tasks-list li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.tasks-list li.completed{
    text-decoration: line-through;
    color: #888;
}

.tasks-filters button{
    margin: 0px 10px;
    padding: 10px 20px;
    border: none;
    background-color: #15be78;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.tasks-filters button:hover{
    background-color: #1b9662;
}